@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,500;1,400&display=swap');

$font-sans: 'PT Sans Narrow', sans-serif;
$font-bebas: 'Bebas Neue', cursive;
$font-dance: 'Dancing Script', cursive;
$font-barlow: 'Barlow Semi Condensed', sans-serif;

$color-hover: rgb(255, 235, 59);
